In [23]:
import pandas as pd
from sklearn.linear_model import LinearRegression

def clean_money(x):
    x = str(x);
    x = x.replace("$", "").replace(",", "")
    return int(x)

data = pd.read_csv("final_postcodes.csv")
data["installRate"] = data["installRate"].apply(lambda x: 1 if x > 1 else x)
data["income"] = data["income"].apply(clean_money)
data

,postcode,installations,households,installRate,income,ownership,solar
0,800,101,47.885714,1.000000,2264,0.344828,20.2
1,810,3023,9252.022583,0.326739,2107,0.613788,20.1
2,812,1637,6202.992462,0.263905,2028,0.655329,20.1
3,820,980,4942.016353,0.198300,2341,0.522384,20.1
4,822,774,6523.185906,0.118654,1294,0.309911,20.7
...,...,...,...,...,...,...,...
2611,7466,4,17.000000,0.235294,612,1.000000,11.3
2612,7467,71,1063.000000,0.066792,764,0.745902,11.3
2613,7468,30,446.033645,0.067260,1312,0.650558,11.3
2614,7469,35,501.815008,0.069747,871,0.705686,12.1
2615,7470,39,559.984588,0.069645,1227,0.560000,12.1

In [24]:
x = data["solar"].values.reshape(-1, 1)
y = data["installRate"].values.reshape(-1, 1)
reg = LinearRegression().fit(x, y)
reg.score(x, y)

0.04419936099534594

In [25]:
x = data["income"].values.reshape(-1, 1)
y = data["installRate"].values.reshape(-1, 1)
reg = LinearRegression().fit(x, y)
reg.score(x, y)

0.019509760792406294

In [ ]:
x = data["income"].values.reshape(-1, 1)
y = data["installRate"].values.reshape(-1, 1)
reg = LinearRegression().fit(x, y)
reg.score(x, y)